{% extends 'review/base.html' %}
{% block content %}
{% load static %}
    <div class="content-section">
        <h1>Campus Dorms</h1>
        {% if user.is_staff %}
            <div class="mb-3">
                <a class="btn btn-primary" href="{% url 'dorm-create' %}">Add New Dorm</a>
            </div>
        {% endif %}

        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for dorm in dorms %}
                        <div class="col">
                            <div class="card shadow-sm">
                                {% if dorm.name == "Pine Hall" %}
                                    <img src="{% static '../static/images/dorm_covers/PineCover.jpg' %}" class="card-img-top" alt="Pine Hall"
                                        style="height: 200px; object-fit: cover;">
                                {% elif dorm.name == "Beard Hall" %}
                                    <img src="{% static '../static/images/dorm_covers/BeardCover.jpg' %}" class="card-img-top" alt="Pine Hall"
                                        style="height: 200px; object-fit: cover;">
                                {% elif dorm.name == "Keefe Hall" %}
                                    <img src="{% static '../static/images/dorm_covers/KeefeCover.jpg' %}" class="card-img-top" alt="Pine Hall"
                                        style="height: 200px; object-fit: cover;">
                                {% elif dorm.image %}
                                    <img src="{{ dorm.image.url }}" class="card-img-top" alt="{{ dorm.name }}"
                                        style="height: 200px; object-fit: cover;">
                                {% else %}
                                    <div class="card-img-top bg-light d-flex justify-content-center align-items-center"
                                        style="height: 200px;">
                                        <span class="text-muted">No Image</span>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ dorm.name }}</h5>
                                    <div class="d-flex gap-2 justify-content-start py-1 flex-wrap">
                                        {% if dorm.labels_list %}
                                            {% for label in dorm.labels_list %}
                                                <span class="badge bg-primary-subtle border border-primary-subtle text-primary-emphasis rounded-pill">
                                                    {{ label }}
                                                </span>
                                            {% endfor %}
                                        {% else %}
                                            <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">
                                                No Labels
                                            </span>
                                        {% endif %}
                                    </div>
                                    <p class="card-text">
                                        <small class="text-muted">{{ dorm.rooms.count }}
                                            Room{{ dorm.rooms.count|pluralize }} with Review{{ dorm.rooms.count|pluralize }}.</small>
                                    </p>
                                    <a href="{% url 'dorm-detail' dorm.slug %}" class="btn btn-outline-info" >View Details</a>
                                    {% if user.is_staff %}
                                        <a href="{% url 'dorm-update' dorm.slug %}" class="btn btn-outline-secondary">Edit</a>
                                        <a href="{% url 'dorm-delete' dorm.slug %}" class="btn btn-outline-danger">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col">
                            <p>No dorms have been added yet.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock content %}