{% extends 'review/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Review Post</legend>
                {{ post_form|crispy }}
                {{ image_form|crispy }}
                <small class="text-muted">You can select multiple images at once by holding Ctrl (or Command on Mac) while clicking.</small>
            </fieldset>
            <div class="form-group">
               <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
        
        {% if post.images.all %}
            <div class="mt-4">
                <h4 class="border-bottom pb-2">Current Images</h4>
                <div class="row">
                    {% for img in post.images.all %}
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <img src="{{ img.image.url }}" class="card-img-top" alt="Post Image">
                                <div class="card-body">
                                    <form method="POST" action="{% url 'post-image-delete' img.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}