{% extends 'review/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Room</legend>
                <h2>Are you sure you want to delete room "{{ object.room_number }}" from {{ object.dorm.name }}?</h2>
                <div class="alert alert-warning">
                    <p>This will also delete all reviews associated with this room.</p>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'room-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}